p {
  color: #1C3653;
  font-weight: 500;
  line-height: 29px;
  padding-bottom: 20px;

}

h1 {
  font-family: 'Averia Sans Libre', cursive;
  font-size: 120px;
}

h2 {
  color: #3D4351;
  font-size: 35px;
  font-weight: 300;
}

h3 {
  color: #3D4351;
  font-size: 24px;
  margin-bottom: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  color: #3D4351;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.btn {
  border: solid 2px;
  border-radius: 40px;
  display: inline-block;
  font-size: 17px;
  text-transform: uppercase;
}

.btn:hover,
.btn:focus {
  background-color: blue;
  border-color: blue;
  color: #fff;
}

.btn-white {
  border: solid 2px;
  border-color: #fff;
  border-radius: 40px;
  display: inline-block;
  font-size: 15px;
}

.btn-white:hover,
.btn-white:focus {
  border-color: dodgerblue;
  color: aqua;
}

.btn-fill {
  background-color: dodgerblue;
  border: solid 2px dodgerblue;
  border-radius: 40px;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
}

.btn-fill:hover,
.btn-fill:focus {
  background-color: blue;
  border-color: blue;
  color: #fff;
}

.btn-small {
  padding: 8px 40px;
}

.btn-large {
  padding: 15px 40px;
}

.btn-margin-right {
  margin-right: 20px;
}

section.intro,
section.features-extra,
section.sign-up {
  background: #fff;
}

section.features,
section.blog-intro,
section.blog {
  background: #F3F4F8;
}

/* ==========================================================================
Global Styles
========================================================================== */

.group:after {
  clear: both;
  content: "";
  display: table;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

a {
  color: dodgerblue;
  transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
  transition-property: color, border-color, background-color;
  -moz-transition-property: color, border-color, background-color;
  -o-transition-property: color, border-color, background-color;
  -webkit-transition-property: color, border-color, background-color;
  transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
}

a:hover,
a:focus {
  color: aqua;
  text-decoration: none;
}

a .btn .btn-accent .btn-large {
  border-color: dodgerblue;
  color: aqua;
}

a .btn .btn-accent .btn-large:hover {
  border-color: blue;
  color: white;
}

a .btn .btn-ghost .btn-accent .btn-large {
  border-color: dodgerblue;
  color: aqua;
}

a .btn .btn-ghost .btn-accent .btn-large:hover {
  border-color: blue;
  color: white;
}

body {
  color: #1C3653;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.section-padding {
  padding: 120px 0;
}

.tooltip {
  display: block;
  filter: alpha(opacity=0);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  opacity: 0;
  position: absolute;
  visibility: visible;
  z-index: 1070;
}

.tooltip .in {
  filter: alpha(opacity=90);
  opacity: .9;
}

.tooltip .top {
  margin-top: -3px;
  padding: 5px 0;
}

.tooltip .right {
  margin-left: 3px;
  padding: 0 5px;
}

.tooltip .bottom {
  margin-top: 3px;
  padding: 5px 0;
}

.tooltip .left {
  margin-left: -3px;
  padding: 0 5px;
}

.tooltip-inner {
  background-color: #000;
  border-radius: 4px;
  color: #fff;
  max-width: 200px;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

/* ==========================================================================
Animations
========================================================================== */

.pulse2 {
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: pulse2;
  -o-animation-name: pulse2;
  -moz-animation-name: pulse2;
  animation-name: pulse2;
  -webkit-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes pulse2 {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse2 {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.floating-arrow {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: floating-arrow;
  -moz-animation-name: floating-arrow;
  animation-name: floating-arrow;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes floating-arrow {
  from {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  65% {
    -webkit-transform: translate(-50%, 15px);
    transform: translate(-50%, 15px);
  }
  to {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

@keyframes floating-arrow {
  from {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  65% {
    -webkit-transform: translate(-50%, 15px);
    transform: translate(-50%, 15px);
  }
  to {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

.floating-logo {

  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: floating-logo;
  -moz-animation-name: floating-logo;
  animation-name: floating-logo;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes floating-logo {
  from {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  50% {
    -webkit-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
  }
  to {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

@keyframes floating-logo {
  from {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  50% {
    -webkit-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
  }
  to {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

.marca-hero {
  -webkit-animation: color-change 3s infinite;
  -moz-animation: color-change 3s infinite;
  -o-animation: color-change 3s infinite;
  -ms-animation: color-change 3s infinite;
  animation: color-change 3s infinite;
}

@-webkit-keyframes color-change {
  0% {
    color: aqua;
  }
  25% {
    color: darkturquoise;
  }
  50% {
    color: powderblue;
  }
  75% {
    color: aquamarine;
  }
  100% {
    color: skyblue;
  }
}

@-moz-keyframes color-change {
  0% {
    color: aqua;
  }
  25% {
    color: darkturquoise;
  }
  50% {
    color: powderblue;
  }
  75% {
    color: aquamarine;
  }
  100% {
    color: skyblue;
  }
}

@-o-keyframes color-change {
  0% {
    color: aqua;
  }
  25% {
    color: darkturquoise;
  }
  50% {
    color: powderblue;
  }
  75% {
    color: aquamarine;
  }
  100% {
    color: skyblue;
  }
}

@keyframes color-change {
  0% {
    color: aqua;
  }
  25% {
    color: darkturquoise;
  }
  50% {
    color: powderblue;
  }
  75% {
    color: aquamarine;
  }
  100% {
    color: skyblue;
  }
}

/* ==========================================================================
Waypoinsts
========================================================================== */

.wp1,
.wp2,
.wp3,
.wp4,
.wp5,
.wp6,
.wp7,
.wp8,
.wp9 {
  visibility: hidden;
}

.wp2 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.bounceInLeft,
.bounceInRight,
.fadeInUp,
.fadeInUpDelay,
.fadeInDown,
.fadeInUpD,
.fadeInLeft,
.fadeInRight,
.bounceInDown {
  visibility: visible;
}

/* ==========================================================================
Navigation
========================================================================== */

.header-nav.open {
  opacity: 0.9;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  visibility: visible;
}

.nav-toggle {
  cursor: pointer;
  padding: 10px 35px 16px 0;
  position: absolute;
  right: 15px;
  top: 0;
  z-index: 999999;
}

.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  background: #fff;
  border-radius: 1px;
  content: "";
  cursor: pointer;
  display: block;
  height: 3px;
  position: absolute;
  width: 35px;
}

.nav-toggle span:before {
  top: -10px;
}

.nav-toggle span:after {
  bottom: -10px;
}

.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.active span {
  background-color: transparent;
}

.active span:before,
.active span:after {
  top: 0;
}

.active span:before {
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.active span:after {
  top: 10px;
  -ms-transform: translatey(-10px) rotate(-45deg);
  -moz-transform: translatey(-10px) rotate(-45deg);
  -o-transform: translatey(-10px) rotate(-45deg);
  -webkit-transform: translatey(-10px) rotate(-45deg);
  transform: translatey(-10px) rotate(-45deg);
}

.navicon {
  height: 26px;
  position: absolute;
  right: 10px;
  top: 48px;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  visibility: hidden;
}

/* ==========================================================================
Hero
========================================================================== */

.hero {
  background: url("../img/hero.jpg") center center;
  background-size: cover;
  min-height: 750px;
  position: relative;
}

.hero .down-arrow a {
  color: #fff;
}

.mejoratumarca {
  color: #fff;
  margin-bottom: 30px;
}

.hero p .intro {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 30px;
}

.hero .hero-content {
  padding-top: 15%;
}

.navigation {
  position: fixed;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  width: 100%;
  z-index: 999;
}

.fixed {
  background-color: #000013;
  position: fixed;
  width: 100%;
  z-index: 999;
}

header {
  margin: 0 auto;
  padding: 50px 0;
  position: relative;
  -webkit-transition: padding 300ms ease-in-out;
  -o-transition: padding 300ms ease-in-out;
  -moz-transition: padding 300ms ease-in-out;
  transition: padding 300ms ease-in-out;
  width: 1170px;
}

header a {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

header a .login {
  margin-right: 20px;
}

header .logo {
  display: inline-block;
}

.logotext {
  display: inline-block;
  font-size: 17px;
  margin-left: 6px;
  position: relative;
  text-transform: none;
}

.logoimg {
  bottom: 8px;
  height: 35px;
  position: relative;
}

header ul.primary-nav {
  margin: 0 0 0 75px;
  padding: 0;
}

header ul.primary-nav li {
  display: inline;
}

header ul.primary-nav li a {
  color: #fff;
  padding-right: 25px;
}

header ul.primary-nav li a:hover {
  color: aqua;
}


header ul.member-actions li {
  display: inline;
}

header ul.member-actions li a {
  color: #fff;
}

header ul.member-actions li a:hover {
  color: aqua;
}

header .header-nav {
  display: inline-block;
}

header .member-actions {
  position: absolute;
  right: 0;
  top: 41px;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.down-arrow {
  bottom: 30px;
  color: #fff;
  font-size: 30px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* ==========================================================================
Intro
========================================================================== */

.intro span.icon {
  color: dodgerblue;
  font-size: 40px;
  font-weight: bold;
}

.intro-icon {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  width: 40px;
}

.intro-content {
  display: inline-block;
  width: 80%;
}

/* ==========================================================================
Features-stack
========================================================================== */

.features {
  margin: 0 0 20px 0;
  position: relative;
}

.features p {
  margin-bottom: 0;
  padding-bottom: 0;
}

.features span.icon {
  color: dodgerblue;
  font-size: 35px;
  font-weight: bold;
}

.features .feature-icon {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  width: 35px;
}

.features .feature-content {
  display: inline-block;
  width: 75%;
}

.features .intro-icon {
  display: inline-block;
  margin-right: 20px;
  padding: 6px 0 0 0;
  vertical-align: top;
}

.features .intro-content {
  display: inline-block;
  width: 80%;
}

.features ul.features-stack {
  margin-top: 50px;
}

.features ul .features-stack li {
  border-bottom: solid 1px #E6E9EA;
  margin-top: 20px;
  padding-bottom: 20px;
}

.features .ipad-wrap {
  background: url("../img/ipad-device.png") no-repeat center center;
  height: 1002px;
  width: 706px;
  z-index: 1;
}

.features .iphone-wrap {
  background: url("../img/iphone6.png") no-repeat center center;
  bottom: 129px;
  height: 620px;
  left: 530px;
  position: absolute;
  width: 304px;  
  z-index: 2;
}

.features .device-showcase {
  bottom: -365px;
  position: absolute;  
  right: 61%;
}

.features .responsive-feature-img,
.features-extra .responsive-feature-img {
  display: none;
}

.devices {
  position: relative;
}

/* ==========================================================================
.features-extra
========================================================================== */

.features-extra {
  position: relative;
  z-index: 3;
}

.features-extra .btn {
  margin-top: 20px;
}

.features-extra .macbook-wrap {
  background: url("../img/macbook-pro.png") no-repeat center center;
  height: 540px;
  left: 50%;
  position: absolute;
  top: 114px;
  width: 916px;
  z-index: 4;
}

/* ==========================================================================
.hero-strip
========================================================================== */

.hero-strip {
  background: #F3F4F8 url("../img/polygonal-bg.png") no-repeat center center;
  margin-top: 120px;
  padding-bottom: 190px;
  position: relative;
}

.hero-strip i {
  color: #F69D52;
  font-family: "Nunito", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  margin-left: -8px;
  vertical-align: top;
}

.hero-striph2 {
  color: #fff;
  margin: 0 0 20px 0;
}

.hero-strip p {
  color: #ACB1B4;
}

.hero-strip .btn {
  margin-top: 10px;
}

.hero-strip .logo-placeholder {
  bottom: -285px;
  height: 230px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 230px;
}

/* ==========================================================================
.blog-intro
========================================================================== */

.blog-intro {
  padding-top: 160px;
}

.blog-introh3 {
  margin-bottom: 70px;
}

.blog-intro .leftcol {
  border-right: solid 1px #E6E9EA;
  padding-right: 100px;
}

.blog-intro .rightcol {
  padding-left: 100px;
}

/* ==========================================================================
.blog
========================================================================== */

.blog {
  padding-bottom: 120px;
}

.blog img {
  height: auto;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  width: 100%;
}

.blog .btn {
  margin-top: 20px;
}

.blog .blog-img-wrap {
  overflow: hidden;
  position: relative;
}

.blog .blog-img-wrap .overlay {
  background-color: #FFFFFF;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  height: 100%;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  width: 100%;
}

.blog .blog-img-wrap i {
  color: #fff;
  font-size: 20px;
  height: 20px;
  position: absolute;
  right: 35px;
  top: 25px;
  width: 20px;
}

.blog .blog-img-wrap:hover img,
.blog .blog-img-wrap:focus img {
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.blog .blog-img-wrap:hover .overlay,
.blog .blog-img-wrap:focus .overlay {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  opacity: 1;
  z-index: 9;
}

.blog figcaption i {
  font-size: 15px;
  margin-left: 5px;
}

.blog figcaption a.blog-post-title {
  color: #1C3653;
}

.blog figcaption a.blog-post-title:hover,
.blog figcaption a.blog-post-title:focus {
  color: #3D4351;
}

.portafolio {
  padding-top: 160px;
}

/* ==========================================================================
.testimonial-slider
========================================================================== */

.testimonial-slider {
  background: url("../img/testimonials-bg.jpg") no-repeat center center;
  background-size: cover;
}

.testimonial-slider .avatar {
  background-color: #fff;
  border-radius: 50%;
  height: 82px;
  margin: 0 auto;
  overflow: hidden;
  vertical-align: middle;
  width: 82px;
}

.testimonial-slider .avatar img {
  height: auto;
  width: 82px;
}

.testimonial-sliderh2 {
  color: #fff;
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
  margin: 30px 0;
}

.testimonial-slider p {
  color: #ACB1B4;
  letter-spacing: 2px;
  text-transform: uppercase; 
}

/* ==========================================================================
Sign up form
========================================================================== */

.sign-up .signup-form .sign-up-btn {
  border-radius: 3px;
  font-size: 13px;
  padding: 15px 0; 
  width: 80%;
  
}

.sign-up .signup-form .form-input-group {
  border-radius: 5px;
  height: 55px;
  margin: 0 auto 10px;
  position: relative;
  text-align: left;
  width: 80%;
}

.sign-up .signup-form .form-input-group i {
  color: dodgerblue;
  font-size: 14px;
}

.sign-up .signup-form .form-input-group i:after {
  content: "";
  height: 30px;
  left: 30px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1px;
}

.fa-user {
  font-size: 18px;
  margin-left: 20px;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.fa-comment {
  font-size: 18px;
  margin-left: 20px;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.fa-phone {
  font-size: 18px;
  margin-left: 20px;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.fa-envelope {
  font-size: 14px;
  margin-left: 20px;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sign-up .signup-form .form-input-group input {
  border: solid 1px #ccf;
  border-radius: 6px;
  height: 100%;
  padding-left: 49px;
  width: 100%;
}

.sign-up .signup-form .form-input-group input::-webkit-input-placeholder {
  color: #BCC1C3;
}

.sign-up .signup-form .form-input-group input:-moz-placeholder {
  color: #BCC1C3;
}

.sign-up .signup-form .form-input-group input::-moz-placeholder {
  color: #BCC1C3;
}

.sign-up .signup-form .form-input-group input:-ms-input-placeholder {
  color: #BCC1C3;
}

/* ==========================================================================
To top
========================================================================== */

.to-top {
  background-color: #495061;
  height: 60px;
}

.to-top .to-top-wrap {
  height: 60px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 70px;
}

.to-top .to-top-wrap a {
  background-color: #000000;
  color: #fff;
  display: block;
  height: 100%;
  width: 100%;
}

.to-top .to-top-wrap a:hover,
.to-top .to-top-wrap a:focus {
  background-color: #000000;
}

.to-top .to-top-wrap i {
  font-size: 30px;
  line-height: 55px;
}

.to-top .row {
  position: relative;
}

/* ==========================================================================
Footer
========================================================================== */

footer {
  background-color: #3D4351;
  position: relative;
}

footer p {
  color: #ACB1B4;
  font-size: 13px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: aqua;
}

footer ul.footer-group {
  border-top: solid 1px #4E566C;
  margin-bottom: 45px;
  padding-top: 25px;  
}

footer ul.footer-group li {
  display: inline-block;
}

footer ul.footer-group li a {
  font-size: 15px;
  text-transform: uppercase;
}

footer ul.footer-group li a:hover {
  color: aqua;
}

footer ul.footer-group li a:focus {
  color: aqua;
}

footer ul.footer-group li {
  margin-right: 30px;
}

footer ul.footer-group li:last-child {
  margin-right: 0;
}

.fa-heart {
  color: #ff415c;
  font-size: 15px;
  margin: 0 2px;
}

footer .social-share {
  background-color: #373D4A;
  height: 100%;
  padding: 142px 0 0 70px;
  position: absolute;
  right: 0;
  width: 40%; 
}

footer .social-share p {
  color: #fff;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.behance-share {
  background-color: #1ea1cd;
  border-radius: 3px;
  display: inline-block;
  font-size: 22px;
  height: 60px;
  margin-right: 20px;
  text-align: center;
  width: 60px;
}

.linkedin-share {
  background-color: #3333ff;
  border-radius: 3px;
  display: inline-block;
  font-size: 22px;
  height: 60px;
  margin-right: 20px;
  text-align: center;
  width: 60px;
}

footer .social-share a.facebook-share {
  background-color: #3B5898;
  border-radius: 3px;
  display: inline-block;
  font-size: 22px;
  height: 60px;
  margin-right: 20px;
  text-align: center;
  width: 60px;
}

.pinterest-share {
  background-color: #C95544;
  border-radius: 3px;
  display: inline-block;
  font-size: 22px;
  height: 60px;
  margin-right: 20px;
  margin-top: 20px;
  text-align: center;
  width: 60px;
}

footer .social-share a.instagram-share {
  background-color: #883377;
  border-radius: 3px;
  display: inline-block;
  font-size: 22px;
  height: 60px;
  margin-top: 20px;
  text-align: center;
  width: 60px;
}

footer .social-share a.behance-share:hover,
footer .social-share a.behance-share:focus {
  background-color: #1769ff;
}

footer .social-share a.facebook-share:hover,
footer .social-share a.facebook-share:focus {
  background-color: #1133ff;
}

footer .social-share a.linkedin-share:hover,
footer .social-share a.linkedin-share:focus {
  background-color: #0077b5;
}

footer .social-share a.pinterest-share:hover,
footer .social-share a.pinterest-share:focus {
  background-color: #C92228;
}

footer .social-share a.instagram-share:hover,
footer .social-share a.instagram-share:focus {
  background-color: #8a3ab9;
}


footer .social-share a {
  color: #fff;
}

footer .social-share a:hover {
  color: #fff;
}

footer .social-share a i {
  margin-top: 20px;
}

footer .footer-links {
  margin: 120px 0 120px 0;
}

/* ==========================================================================
Icon font (http://www.elegantthemes.com/blog/freebie-of-the-week/free-line-style-icons)
========================================================================== */

@font-face {
  font-family: 'et-line';
  src: url("../fonts/et-line.eot");
  src: url("../fonts/et-line.eot?#iefix") format("embedded-opentype"), url("../fonts/et-line.woff") format("woff"), url("../fonts/et-line.ttf") format("truetype"), url("../fonts/et-line.svg#et-line") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */

input[data-icon]:before {
  content: attr(data-icon);
  display: inline-block;
  font-family: 'et-line';
  -webkit-font-smoothing: antialiased;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  text-transform: none;  
}

/* Use the following CSS code if you want to have a class per icon */

/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/

.icon-mobile,
.icon-laptop,
.icon-desktop,
.icon-tablet,
.icon-phone,
.icon-document,
.icon-documents,
.icon-search,
.icon-clipboard,
.icon-newspaper,
.icon-notebook,
.icon-book-open,
.icon-browser,
.icon-calendar,
.icon-presentation,
.icon-picture,
.icon-pictures,
.icon-video,
.icon-camera,
.icon-printer,
.icon-toolbox,
.icon-briefcase,
.icon-wallet,
.icon-gift,
.icon-bargraph,
.icon-grid,
.icon-expand,
.icon-focus,
.icon-edit,
.icon-adjustments,
.icon-ribbon,
.icon-hourglass,
.icon-lock,
.icon-megaphone,
.icon-shield,
.icon-trophy,
.icon-flag,
.icon-map,
.icon-puzzle,
.icon-basket,
.icon-envelope,
.icon-streetsign,
.icon-telescope,
.icon-gears,
.icon-key,
.icon-paperclip,
.icon-attachment,
.icon-pricetags,
.icon-lightbulb,
.icon-layers,
.icon-pencil,
.icon-tools,
.icon-tools-2,
.icon-scissors,
.icon-paintbrush,
.icon-magnifying-glass,
.icon-circle-compass,
.icon-linegraph,
.icon-mic,
.icon-strategy,
.icon-beaker,
.icon-caution,
.icon-recycle,
.icon-anchor,
.icon-profile-male,
.icon-profile-female,
.icon-bike,
.icon-wine,
.icon-hotairballoon,
.icon-globe,
.icon-genius,
.icon-map-pin,
.icon-dial,
.icon-chat,
.icon-heart,
.icon-cloud,
.icon-upload,
.icon-download,
.icon-target,
.icon-hazardous,
.icon-piechart,
.icon-speedometer,
.icon-global,
.icon-compass,
.icon-lifesaver,
.icon-clock,
.icon-aperture,
.icon-quote,
.icon-scope,
.icon-alarmclock,
.icon-refresh,
.icon-happy,
.icon-sad,
.icon-facebook,
.icon-behance,
.icon-googleplus,
.icon-rss,
.icon-tumblr,
.icon-linkedin,
.icon-dribbble {
  display: inline-block;
  font-family: 'et-line';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  text-transform: none;
}

.icon-mobile:before {
  content: "\e000";
}

.icon-laptop:before {
  content: "\e001";
}

.icon-desktop:before {
  content: "\e002";
}

.icon-tablet:before {
  content: "\e003";
}

.icon-phone:before {
  content: "\e004";
}

.icon-document:before {
  content: "\e005";
}

.icon-documents:before {
  content: "\e006";
}

.icon-search:before {
  content: "\e007";
}

.icon-clipboard:before {
  content: "\e008";
}

.icon-newspaper:before {
  content: "\e009";
}

.icon-notebook:before {
  content: "\e00a";
}

.icon-book-open:before {
  content: "\e00b";
}

.icon-browser:before {
  content: "\e00c";
}

.icon-calendar:before {
  content: "\e00d";
}

.icon-presentation:before {
  content: "\e00e";
}

.icon-picture:before {
  content: "\e00f";
}

.icon-pictures:before {
  content: "\e010";
}

.icon-video:before {
  content: "\e011";
}

.icon-camera:before {
  content: "\e012";
}

.icon-printer:before {
  content: "\e013";
}

.icon-toolbox:before {
  content: "\e014";
}

.icon-briefcase:before {
  content: "\e015";
}

.icon-wallet:before {
  content: "\e016";
}

.icon-gift:before {
  content: "\e017";
}

.icon-bargraph:before {
  content: "\e018";
}

.icon-grid:before {
  content: "\e019";
}

.icon-expand:before {
  content: "\e01a";
}

.icon-focus:before {
  content: "\e01b";
}

.icon-edit:before {
  content: "\e01c";
}

.icon-adjustments:before {
  content: "\e01d";
}

.icon-ribbon:before {
  content: "\e01e";
}

.icon-hourglass:before {
  content: "\e01f";
}

.icon-lock:before {
  content: "\e020";
}

.icon-megaphone:before {
  content: "\e021";
}

.icon-shield:before {
  content: "\e022";
}

.icon-trophy:before {
  content: "\e023";
}

.icon-flag:before {
  content: "\e024";
}

.icon-map:before {
  content: "\e025";
}

.icon-puzzle:before {
  content: "\e026";
}

.icon-basket:before {
  content: "\e027";
}

.icon-envelope:before {
  content: "\e028";
}

.icon-streetsign:before {
  content: "\e029";
}

.icon-telescope:before {
  content: "\e02a";
}

.icon-gears:before {
  content: "\e02b";
}

.icon-key:before {
  content: "\e02c";
}

.icon-paperclip:before {
  content: "\e02d";
}

.icon-attachment:before {
  content: "\e02e";
}

.icon-pricetags:before {
  content: "\e02f";
}

.icon-lightbulb:before {
  content: "\e030";
}

.icon-layers:before {
  content: "\e031";
}

.icon-pencil:before {
  content: "\e032";
}

.icon-tools:before {
  content: "\e033";
}

.icon-tools-2:before {
  content: "\e034";
}

.icon-scissors:before {
  content: "\e035";
}

.icon-paintbrush:before {
  content: "\e036";
}

.icon-magnifying-glass:before {
  content: "\e037";
}

.icon-circle-compass:before {
  content: "\e038";
}

.icon-linegraph:before {
  content: "\e039";
}

.icon-mic:before {
  content: "\e03a";
}

.icon-strategy:before {
  content: "\e03b";
}

.icon-beaker:before {
  content: "\e03c";
}

.icon-caution:before {
  content: "\e03d";
}

.icon-recycle:before {
  content: "\e03e";
}

.icon-anchor:before {
  content: "\e03f";
}

.icon-profile-male:before {
  content: "\e040";
}

.icon-profile-female:before {
  content: "\e041";
}

.icon-bike:before {
  content: "\e042";
}

.icon-wine:before {
  content: "\e043";
}

.icon-hotairballoon:before {
  content: "\e044";
}

.icon-globe:before {
  content: "\e045";
}

.icon-genius:before {
  content: "\e046";
}

.icon-map-pin:before {
  content: "\e047";
}

.icon-dial:before {
  content: "\e048";
}

.icon-chat:before {
  content: "\e049";
}

.icon-heart:before {
  content: "\e04a";
}

.icon-cloud:before {
  content: "\e04b";
}

.icon-upload:before {
  content: "\e04c";
}

.icon-download:before {
  content: "\e04d";
}

.icon-target:before {
  content: "\e04e";
}

.icon-hazardous:before {
  content: "\e04f";
}

.icon-piechart:before {
  content: "\e050";
}

.icon-speedometer:before {
  content: "\e051";
}

.icon-global:before {
  content: "\e052";
}

.icon-compass:before {
  content: "\e053";
}

.icon-lifesaver:before {
  content: "\e054";
}

.icon-clock:before {
  content: "\e055";
}

.icon-aperture:before {
  content: "\e056";
}

.icon-quote:before {
  content: "\e057";
}

.icon-scope:before {
  content: "\e058";
}

.icon-alarmclock:before {
  content: "\e059";
}

.icon-refresh:before {
  content: "\e05a";
}

.icon-happy:before {
  content: "\e05b";
}

.icon-sad:before {
  content: "\e05c";
}

.icon-facebook:before {
  content: "\e05d";
}

.icon-behance:before {
  content: "\e05e";
}

.icon-googleplus:before {
  content: "\e05f";
}

.icon-rss:before {
  content: "\e060";
}

.icon-tumblr:before {
  content: "\e061";
}

.icon-linkedin:before {
  content: "\e062";
}

.icon-dribbble:before {
  content: "\e063";
}
